* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #121923;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

a {
    font-weight: 500;
}

a:link {
    color: #206ee9;
}

a:link {
    color: #856ee9;
}

a:link {
    color: #856ee9;
}

a:link {
    color: #856ee9;
}

h1 {
    font-size: 3.2rem;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.4rem;
    color: #afbaca;
    font-weight: 400;
    margin-bottom: 1.6rem;
}

p {
    font-size: 1.6rem;
    color: #afbaca;
    font-weight: 300;
    margin-bottom: 1rem;
}

#article {
    width: 80vw;
    margin: 4rem auto;
}

.article__section {
    border: 1px solid #515e72;
    border-radius: 0.5rem;
    padding: 1.6rem 2.4rem;
    margin-bottom: 4rem;
}

.article__author {
    display: flex;
    flex-direction: column;
}
.article__author img {
    width: 4rem;
    color: white;
}

.article__author p {
    font-weight: 500;
}
